.singleSquare {
  width: 146px;
  height: 146px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  position: relative;
  background: rgba( 255, 255, 255, 0.25 );
  backdrop-filter: blur(15px);
  opacity: 1;
  -webkit-backdrop-filter: blur(15px);
}
